.Rproj.user
.Rhistory
.RData
.Ruserdata
^data$
^JavaSTICS
inst/stics/V90/logs/application-log.txt
inst/stics/V90/logs/user_log.txt
inst/stics/V90/config/preferences.xml
inst/stics/V90/logs/application-log.txt
inst/stics/V90/logs/user_log.txt
