# For help debugging build failures open an issue on the RStudio community with the 'github-actions' tag.
# https://community.rstudio.com/new-topic?category=Package%20development&tags=github-actions
on:
  push:
    branches:
      #- main
      #- master
  pull_request:
    branches:
      #- main
      #- master
  repository_dispatch:
    types: [R-CMD-check]

name: R-CMD-check

env:
  has_testthat: 'true'

jobs:
  # specific install for macOS stics executable dependency
  build:
    runs-on: macOS-latest
    steps:
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable

  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, r: 'release'}
          - {os: ubuntu-latest, r: "release", rspm: "https://packagemanager.rstudio.com/cran/__linux__/focal/latest"}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: ${{ matrix.config.rspm }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: install libxslt
        if: runner.os  != 'Windows'
        run: |
            sudo apt-get update && sudo apt-get install libxslt1-dev
      - name: Install libcurl version OpenSSL
        if: runner.os != 'Windows'
        run: |
            sudo apt-get update && sudo apt-get install -y libcurl4-openssl-dev

      - name: libs, ssl, ldap, icu
        if: runner.os  != 'Windows'
        run: |     
          wget http://nz2.archive.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.1_1.1.1f-1ubuntu2_amd64.deb
          sudo dpkg -i libssl1.1_1.1.1f-1ubuntu2_amd64.deb
          wget http://http.us.debian.org/debian/pool/main/o/openldap/libldap-2.4-2_2.4.57+dfsg-3+deb11u1_amd64.deb 
          sudo apt install ./libldap-2.4-2_2.4.57+dfsg-3+deb11u1_amd64.deb
          wget http://archive.ubuntu.com/ubuntu/pool/main/i/icu/libicu66_66.1-2ubuntu2_amd64.deb
          sudo dpkg -i libicu66_66.1-2ubuntu2_amd64.deb
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu' # openjdk
          java-version: '17'

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}

      - uses: r-lib/actions/setup-pandoc@v1

      - name: Query dependencies
        run: |
          install.packages('remotes')
          saveRDS(remotes::dev_package_deps(dependencies = TRUE), ".github/depends.Rds", version = 2)
          writeLines(sprintf("R-%i.%i", getRversion()$major, getRversion()$minor), ".github/R-version")
        shell: Rscript {0}

      # - name: Cache R packages
        # if: runner.os != 'Windows'
        # uses: actions/cache@v4
        # with:
          # path: ${{ env.R_LIBS_USER }}
          # key: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-${{ hashFiles('.github/depends.Rds') }}
          # restore-keys: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-

      - name: Install dependencies (force ggplot2 v3.5.2 first)
        run: |
          install.packages('remotes')
          # Install ggplot2 3.5.2 first (was done due to temporary incompatibility of CroPlotR with ggplot 4.0.0, to remove when CroPlotR 1.0.0 will be released)
          remotes::install_version("ggplot2", version = "3.5.2", upgrade = "never")

          # Instal dependencies without upgrade
          remotes::install_deps(dependencies = TRUE, upgrade = "never")
          remotes::install_cran("rcmdcheck", upgrade = "never")
          remotes::install_github("SticsRPacks/SticsRPacks@main", dependencies = FALSE, upgrade = "never")
          remotes::install_github("SticsRPacks/CroPlotR@main", dependencies = FALSE, upgrade = "never")
          remotes::install_github("SticsRPacks/CroptimizR@main", dependencies = FALSE, upgrade = "never")
          remotes::install_github("SticsRPacks/SticsOnR@main", dependencies = FALSE, upgrade = "never")
          remotes::install_github("SticsRPacks/SticsRFiles@main", dependencies = FALSE, upgrade = "never")
        shell: Rscript {0}

      - name: Install testthat 3.1.8 # there is a problem with testthat >= 3.1.8, tests crash at the end for an unknown reason although they all pass
        run: Rscript -e "install.packages('https://cran.r-project.org/src/contrib/Archive/testthat/testthat_3.1.8.tar.gz', repos = NULL, type = 'source')"
      #- name: Install testthat
      #  run: Rscript -e "install.packages('testthat')"
        
      - name: Check
        env:
          _R_CHECK_CRAN_INCOMING_REMOTE_: false
        run: rcmdcheck::rcmdcheck(args = c("--no-manual", "--as-cran"), error_on = "error", check_dir = "check")
        shell: Rscript {0}

      - name: Reveal testthat details
        if:  env.has_testthat == 'true'
        run: find . -name testthat.Rout -exec cat '{}' ';'

      - name: Remove unwanted directories from check artifacts
        run: |
          Remove-Item -Recurse -Force check/*/SticsRTests
          Remove-Item -Recurse -Force check/*/00_pkg_src

      - name: Upload check results
        if: failure()
        uses: actions/upload-artifact@main
        with:
          name: ${{ runner.os }}-r${{ matrix.config.r }}-results
          path: check
